<!-- $Id: _public_header.rhtml 237 2008-07-15 23:28:55Z nicb $ -->
<div class="fis_header">
  <h2 class="fis_header_title">
    <%=
        link_to(image_tag('fishrdb/FIS_logo.png', :size => '265x41', :border => 0),
                { :controller => :pview, :action => :index})
    -%>
  </h2>
</div>
