<!-- $Id: _create_multiple_items.html.erb 270 2008-11-09 12:06:14Z nicb $ -->
<tr>
  <td colspan="2">
    <table>
	    <tr>
	      <td valign="top" width="90%">
	        <label for="doc_num_items">Numero di schede da creare:</label>
	      </td>
	      <td width="10%">
	        <%= text_field 'doc', 'num_items', :size => 1, :maxsize => 10, :value => 1 -%>
	      </td>
	    </tr>
    </table>
  </td>
</tr>
