<!-- $Id: _front_footer.rhtml 236 2008-07-14 21:01:57Z nicb $ -->
<div class="frontfooter">
  <%= render(:partial => 'share/common_footer') -%>  
  <%= link_to('interfaccia pubblica&#187;', { :controller => :pview, :action => :index }, { :class => 'footerelement' }) -%>  
</div>
