<!-- $Id: _public_footer.rhtml 236 2008-07-14 21:01:57Z nicb $ -->
<div class="footer">
  <%= render(:partial => 'share/common_footer') -%>  
  <%= link_to('login&#187;', { :controller => :account, :action => :login }, { :class => 'footerelement' }) -%>  
</div>
