<!-- $Id: _edit.rhtml 214 2008-05-11 21:47:15Z nicb $ -->
Denominazione: <% form_tag(:action => :edit_from_form, :id => edit.id) do -%>
  <%= text_field 'cn_equivalent', 'name', :size => 15, :maxsize => 256, :value => edit.name -%>
	<div class="form_buttons">
    <%= 
        submit_tag('modifica', :name => 'commit')
    -%>
    <%= 
        submit_tag('cancella', :name => 'commit')
    -%>
	</div> <!-- form_buttons -->
<% end -%>
