<!-- $Id: _selected_item.html.erb 326 2009-03-08 22:30:58Z nicb $ -->
<tr>
  <td width="10%">
    <%= selected_item.id -%>
  </td>
  <td width="10%">
    <%= selected_item.corda -%>
  </td>
  <td width="80%">
    <%= selected_item.cleansed_name -%>
  </td>
</tr>
