<ul>
  <%
    n = 0; autocomplete.each do
      |ac|
  -%>
   <li class="<%= 'selected' if n == 0 -%>"><%= h ac.autocomplete_public_display -%></li>
  <% n += 1; end -%>
</ul>
<!-- NO COMMENTS ABOVE HERE! (they break the view) -->
<!-- $Id: _autocomplete.rhtml 285 2009-01-17 23:13:46Z nicb $ -->
