<!-- $Id: _variant.rhtml 211 2008-05-05 20:43:33Z nicb $ -->
<% form_tag(:action => :add_variant_form, :id => variant.id) do -%>
  <%= text_field 'authority_record', 'name', :size => 40, :maxsize => 256 -%>
	<div class="form_buttons">
    <%= 
        submit_tag('aggiungi', :name => 'commit')
    -%>
    <%= 
        submit_tag('cancella', :name => 'commit')
    -%>
	</div> <!-- form_buttons -->
<% end -%>
