<!-- $Id: logout.rhtml 1 2007-09-25 18:13:27Z nicb $ -->
<div class="memo">
    <h3>Logoff</h3>

    <p>You are now logged out of the system...</p>
      
    <%= link_to "&#171; login", :action=>"login"%>  
      
</div>

